---
layout: layouts/base.njk
title: Fitur aplikasi toko kasir grosir dan eceran
description: Cara penggunaan dan fitur lengkap aplikasi toko grosir eceran integrasi dengan website app.
cover: /img/aplikasikasirtokogrosirretailpos.webp
permalink: /fitur/
eleventyNavigation:
  key: Fitur
  order: 2
---

{% include "widget/pos/fitur.njk" %}
