<div class="col-md-12 p-3 mt-3 mb-3">
<h3>Fitur aplikasi toko</h3>
{% set maxPosts = collections.posts.length | min(3) %}
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
<p><a href="{{ '/fitur/' | url }}" class="btn btn-dark">Explore All fitur</a></p>
</div>
