---
layout: layouts/base.njk
---
<h1><strong><a href="{{page.url}}">{{ title }}</a></strong></h1>
<h2>{{description}}</h2>
<div class="bg-light mt-3 mb-3">
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}"><small>{{ tag }}&nbsp;</small></a>
{%- endfor %}
</div>
{{ content | safe }}

{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<div class="row">
  {%- if nextPost %}<div class="col-md-6 col-6 p-1">← <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></div>{% endif %}
  {%- if previousPost %}<div class="col-md-6 col-6 p-1 text-end"><a href="{{ previousPost.url | url }}">{{ previousPost.data.title }} →</a></div>{% endif %}
</div>
{%- endif %}
<hr>


<div class="col-md-12 p-3 mt-3 mb-3">
<h3>Fitur aplikasi toko</h3>
{% set maxPosts = collections.posts.length | min(3) %}
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
<p><a href="{{ '/posts/' | url }}" class="btn btn-dark">Explore All fitur</a></p>
</div>